body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 42px;    
    background: linear-gradient(
        to right,
        #b306a9,
        #ef2667,
        #f42e2c,
        #ffa509,
        #fdfc00,
        #55ac2f,
        #0b13fd,
        #a804af
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
